/* navbar */

.navbar {
  z-index: 50;
}

.navbar-nav {
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 300;
  margin-left: 3rem;
}
.navbar button {
  border: none;
}

/* carousel */

ul.carousel-indicators li,
ul.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid white;
  background: transparent;
}

ul.carousel-indicators li.active {
  background: $primary;
  border: 1px solid $primary;
}

.carousel .carousel-inner .carousel-item .carousel-caption h2 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  line-height: 4.8rem;
}
body h1 {
  font-weight: 700;
}
body h2 {
  font-weight: 700;
}

body h3 {
  font-weight: 600;
  font-size: 1.6rem;
}
/* more_buttons */

#more_button {
  font-size: 10px;
  text-transform: uppercase;
  width: 92px;
  letter-spacing: 0.6px;
  margin: 2rem auto 0;

  &::after {
    display: block;
    content: '';
    background: white;
    height: 1px;
    width: 100%;
  }
}

.btn-outline {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
}

.btn-outline::after,
.input-group::after {
  display: block;
  content: '';
  background: $primary;
  height: 2px;
}

/* bottom_banner */

.social_block img {
  width: 2rem;
}

.hero .social_block .social_icon {
  padding: 5px;
}

.input-group:after {
  display: block;
  content: '';
  background: $secondary;
  height: 2px;
}

/* Slider */

.slick-slide {
  margin: 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;

  user-select: none;

  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
