.review-star-active {
    color: #FAA42D;
}

.review-star {
    color: $secondary;
}

/* .fa-circle {
    font-size: .3rem;
    position: relative;
    bottom: 1px; 
} */

.navbar .product {
    font-weight: bold;
    font-size: medium;
}

.features li{
list-style: disc;
}

