.review-star-active {
    color: #FAA42D;
}

.review-star {
    color: $secondary;
}


$breadcrumb-divider: url(/homepage/assets/circle-fill.svg);

.navbar .product {
    font-weight: bold;
    font-size: medium;
}

.features li{

list-style: disc;

}