
.grid-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  grid-row: 2; 

  .products {
    position: relative;
    top: 35px;
    color: #222;
    font-size: .9rem; 
#color-row {
  .col-sm-4 {
    p {
      font-size: small;
    }
  }

  .products .product-content, .products .product-content1 {
    font-size: .9rem;
    color: #999; }
  
  .fa-chevron-down {
    font-size: .6rem;
    color: #999; }
  
  .text {
    position: relative;
    left: 25px;
    word-spacing: 10px;
    font-size: .9rem; }
  
  .text i {
    position: relative;
    left: 15px; }
  
  .fa-th {
    position: relative;
    left: 80px;
    font-size: 1.2rem;
    color: #999; }
  
  .fa-list-ul {
    position: relative;
    left: 100px;
    font-size: 1.1rem;
    color: #999; }
}

.widget-title {
  margin-bottom: 2rem;
}

.grid-shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  padding-left: 1em; 
}

p .shop-home {
  font-size: .9rem;
  color: #999;
  word-spacing: .5em; 
}

.fa-circle {
  font-size: .3rem;
  position: relative;
  bottom: 1px; 
}

.categories-menu {
  li {
    font-size: smaller;
  }
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.dot-black {
  @extend .dot;
  background-color: black;
}

.dot-blue {
  @extend .dot;
  background-color: rgb(95, 95, 204);
}

.dot-gold {
  @extend .dot;
  background-color: rgb(209, 198, 40);
}

.dot-nude {
  @extend .dot;
  background-color: rgb(175, 139, 84);
}

.dot-orange {
  @extend .dot;
  background-color: rgb(212, 142, 13);
}

.dot-red {
  @extend .dot;
  background-color: rgb(156, 6, 6);
}

.single-product-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #ffffff;
}

#product-items {
  .col-sm-6 {
    h6 {
      font-size: larger;
    }

    small {
      font-size: smaller;
    }

    p {
      font-size: smaller;
    }
  }
}

.single-product-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: #ffffff;
}