

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(39, 6, 6);
    border-radius: 60%;
    display: inline-block;
  }

  .single-product-wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #ffffff;
}

  