/* font */

$body-font: 'Montserrat', sans serif;

$display2-weight: 500;
$display3-weight: 600;
$display4-weight: 700;

/* colors */

$primary: #222;
$secondary: #999;
$warning: #f68773;
$info: #fff;
$color-banner-top: #f2ede9;

/* card */

$card-border-width: 0px;

/* button */

$btn-font-size: 10px;
